body {
    width: 900px;
    margin: 40px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 12px;
    color: #444;
    
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color:/* #dce9f9; */ #B0CAFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#B0CAFF));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #B0CAFF);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #B0CAFF);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #B0CAFF);
    background-image:      -o-linear-gradient(top, #ebf3fc, #B0CAFF);
    background-image:         linear-gradient(top, #ebf3fc, #B0CAFF);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered td {
	font-size: 12px;
	padding: 5px;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}



/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

/*
.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
*/
.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}

.img_left
{
	float:left;
	border:none;
	margin-left:30%;
	
}
.img_right
{
	float:right;
	border:none;
	
}
#contenido
{
	position:absolute;
	top:124px;
	width:90%;
	margin-left:15%;
}

#buscador
{
	width:70%;
	
}
#resultado
{
	width:70% !important;
}
.texto_pop
{
	font-size:12px;
	font-weight: bold;
	border-bottom:1px #E9E9E9 solid;
}
.texto_pop2
{
	font-size:10px;
	color:#9A9A9A;
}

#popup_CM3
{
	z-index:999999 !important;
}
#table_filtro
{
	font-size:13px;
	width:80%;
	margin: 0 auto;
	margin-top:30px;
}
.msg_error
{
	font-size:10px;
	border-radius:5px;	
	border:1px #E9E9E9 solid;
}
#color_tabla_visita
{
	background-color:#A7E600;
}
#color_tabla_inactivo
{
	background-color:#B4B4B4;
}
#cont_grilla
{
	height:400px !important;
	overflow:auto !important;
}
.mano
{
	cursor:pointer;
}
#table_resul
{
	font-size:13px;
	width:70%;
	
	
}
#hora
{
	width:70px;
}
.table_lista
{
	height:150px;
}
.tit_pop
{
	font-weight: bold;	
	float:left !important;
}
.tabla_fila
{
	background-color:#D2D2D2;
}
